/* styling for todo list bc idk where to put it */

.todo-list {
  height: 9em;
  display: flex;
  margin-bottom: 1em;
  justify-content: space-between;
  gap: 1em;
  overflow-y: visible;
}

.todo-list-col {
  overflow-y: auto;
  scrollbar-gutter: stable;
  height: 9em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.25em;
  scrollbar-width: thin !important;
  scrollbar-color: #303540 red; color: #22252d; /* hardcoding these in bc screw this giant color nonsense */
  padding: 0.25em;
  border-radius: calc(var(--theme-radius) * 0.01em);
  /*background-color: hsla(var(--theme-header-color-hsl-h), calc(var(--theme-header-color-hsl-s) * 1%), calc(var(--theme-header-color-hsl-l) * 1%), calc(var(--theme-header-color-opacity) / 100));*/
}

.button-ty1 {
  transform: translateY(1px);
}

.todo-list-item {
  width: 100%;
  height: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo-list-text-container {
  width: 100%;
  height: 2.5em;
  margin-right: 0.25em;
  border-radius: calc(var(--theme-radius) * 0.01em);
  background-color: hsl(var(--form-input-background-hover));
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.25em;
}

.todo-buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.25em;
}

.todo-list-text-container p {
  margin-left: 3px;
  height: 1em;
  line-height: 1.0;
}



/* actual styling below */

:root {
  --utility-muted: var(--theme-primary-110);
  --utility-muted-hover: var(--theme-primary-110);
  --utility-muted-focus-active: var(--theme-primary-110);
  --utility-muted-checked: var(--theme-primary-110);
  --utility-muted-disabled: var(--theme-primary-030);
}

.list-unstyled {
  padding-left: 0;
  margin-bottom: 0;
}

.list-unstyled li {
  list-style-type: none;
}

.list-unstyled li:not(:last-child) {
  margin-bottom: 0;
}

.list-feature {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.list-feature li {
  padding: 0.25em 0.5em;
  list-style-type: none;
}

.list-feature li:not(:last-child) {
  margin-bottom: 0;
}

.list-inline li {
  display: inline-block;
}

.small {
  font-size: 0.8em;
}

.large {
  font-size: 1.2em;
}

.muted {
  color: hsl(var(--utility-muted));
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.d-flex {
  display: flex;
}

.d-horizontal {
  flex-direction: row;
}

.d-vertical {
  flex-direction: column;
}

.d-center {
  align-items: center;
  justify-content: center;
}

.d-gap {
  gap: 1em;
}
